* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  
}
.privet{
    
}
header {
  background-color: #2c3e50;
  color: white;
  padding: 20px 0;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.logo {
  font-size: 28px;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 400;
}
.menu_list{
    -webkit-transition: 0.5s all;
}
.menu_list:hover {
  color: grey;

  
}

.language-selector select {
  padding: 8px;
  font-size: 14px;
  border-radius: 4px;
  border: none;
  background-color: #ffffff;
  color: #2c3e50;
  cursor: pointer;
}

.hero {
  background-image: url('https://images.unsplash.com/photo-1600891964599-f61ba0e24092?auto=format&fit=crop&w=1400&q=80');
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  color: white;
  text-align: center;
}

.hero h2 {
  font-size: 42px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 30px;
}

.btn {
  padding: 12px 25px;
  background-color: #e67e22;
  color: white;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  -webkit-transition: ease-in-out 0.5s;
}

.btn:hover {
  background-color: #cf711f;
  box-shadow: 0 0 5px orange, 0 0 25px orange, 0 0 50px orange, 0 0 200px orange;
  border-radius: 15px;
  
}
.about {
  padding: 60px 0;
  background-color: #fff;
  text-align: center;
}

.about h3 {
  font-size: 32px;
  margin-bottom: 20px;
}
.reservirovat{
    color: black;
    text-decoration: none;
    background-color: #e67e22;
    padding: 12px 25px;
    background-color: #e67e22;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    -webkit-transition: ease-in-out 0.5s;
    
    
}
.reservirovat:hover{
    background-color: #cf711f;
    box-shadow: 20px 13px 10px orange;
}

footer {
  background-color: #2c3e50;
  color: white;
  margin-top: 85px;
  text-align: center;
  padding: 20px 0;
}
